.loginForm {
  max-width: 300px;
  padding: 70px;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.85);
}

.loginForm > form {
  display: flex;
  flex-direction: column;
}

.loginForm > form > h1 {
  text-align: left;
  margin-bottom: 25px;
}

.loginForm > form > input {
  outline-width: 0;
  height: 40px;
  margin-bottom: 14px;
  border-radius: 5px;
  border: none;
  padding: 5px 15px;
}

#loginForm__errorMsg {
  color: red;
  font-weight: 900;
  display: flex;
  flex-wrap: wrap;
}

.loginForm__button {
  padding: 16px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  border-radius: 5px;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  text-transform: uppercase;
  transition: 0.6s ease;
}

.loginForm__button:hover {
  transition: 0.6s ease;
  background-color: #b30c00;
}
